@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--vscode-font-family);
  color: var(--vscode-foreground);
  background: var(--vscode-editor-background);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
